<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.IcpcInformationSystemBackend.dao.UserDoMapper" >
  <resultMap id="BaseResultMap" type="com.IcpcInformationSystemBackend.model.entity.UserDo" >
    <id column="user_email" property="userEmail" jdbcType="VARCHAR" />
    <result column="id_card" property="idCard" jdbcType="VARCHAR" />
    <result column="identity" property="identity" jdbcType="INTEGER" />
    <result column="chi_name" property="chiName" jdbcType="VARCHAR" />
    <result column="eng_name" property="engName" jdbcType="VARCHAR" />
    <result column="telephone" property="telephone" jdbcType="VARCHAR" />
    <result column="user_state" property="userState" jdbcType="INTEGER" />
    <result column="admission_date" property="admissionDate" jdbcType="VARCHAR" />
    <result column="school_id" property="schoolId" jdbcType="VARCHAR" />
    <result column="cloth_size" property="clothSize" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    user_email, id_card, identity, chi_name, eng_name, telephone, user_state, admission_date, 
    school_id, cloth_size
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.IcpcInformationSystemBackend.model.entity.UserDoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from user
    where user_email = #{userEmail,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from user
    where user_email = #{userEmail,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.IcpcInformationSystemBackend.model.entity.UserDoExample" >
    delete from user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.IcpcInformationSystemBackend.model.entity.UserDo" >
    insert into user (user_email, id_card, identity, 
      chi_name, eng_name, telephone, 
      user_state, admission_date, school_id, 
      cloth_size)
    values (#{userEmail,jdbcType=VARCHAR}, #{idCard,jdbcType=VARCHAR}, #{identity,jdbcType=INTEGER}, 
      #{chiName,jdbcType=VARCHAR}, #{engName,jdbcType=VARCHAR}, #{telephone,jdbcType=VARCHAR}, 
      #{userState,jdbcType=INTEGER}, #{admissionDate,jdbcType=VARCHAR}, #{schoolId,jdbcType=VARCHAR}, 
      #{clothSize,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.IcpcInformationSystemBackend.model.entity.UserDo" >
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userEmail != null" >
        user_email,
      </if>
      <if test="idCard != null" >
        id_card,
      </if>
      <if test="identity != null" >
        identity,
      </if>
      <if test="chiName != null" >
        chi_name,
      </if>
      <if test="engName != null" >
        eng_name,
      </if>
      <if test="telephone != null" >
        telephone,
      </if>
      <if test="userState != null" >
        user_state,
      </if>
      <if test="admissionDate != null" >
        admission_date,
      </if>
      <if test="schoolId != null" >
        school_id,
      </if>
      <if test="clothSize != null" >
        cloth_size,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userEmail != null" >
        #{userEmail,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null" >
        #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="identity != null" >
        #{identity,jdbcType=INTEGER},
      </if>
      <if test="chiName != null" >
        #{chiName,jdbcType=VARCHAR},
      </if>
      <if test="engName != null" >
        #{engName,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="userState != null" >
        #{userState,jdbcType=INTEGER},
      </if>
      <if test="admissionDate != null" >
        #{admissionDate,jdbcType=VARCHAR},
      </if>
      <if test="schoolId != null" >
        #{schoolId,jdbcType=VARCHAR},
      </if>
      <if test="clothSize != null" >
        #{clothSize,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.IcpcInformationSystemBackend.model.entity.UserDoExample" resultType="java.lang.Integer" >
    select count(*) from user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update user
    <set >
      <if test="record.userEmail != null" >
        user_email = #{record.userEmail,jdbcType=VARCHAR},
      </if>
      <if test="record.idCard != null" >
        id_card = #{record.idCard,jdbcType=VARCHAR},
      </if>
      <if test="record.identity != null" >
        identity = #{record.identity,jdbcType=INTEGER},
      </if>
      <if test="record.chiName != null" >
        chi_name = #{record.chiName,jdbcType=VARCHAR},
      </if>
      <if test="record.engName != null" >
        eng_name = #{record.engName,jdbcType=VARCHAR},
      </if>
      <if test="record.telephone != null" >
        telephone = #{record.telephone,jdbcType=VARCHAR},
      </if>
      <if test="record.userState != null" >
        user_state = #{record.userState,jdbcType=INTEGER},
      </if>
      <if test="record.admissionDate != null" >
        admission_date = #{record.admissionDate,jdbcType=VARCHAR},
      </if>
      <if test="record.schoolId != null" >
        school_id = #{record.schoolId,jdbcType=VARCHAR},
      </if>
      <if test="record.clothSize != null" >
        cloth_size = #{record.clothSize,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update user
    set user_email = #{record.userEmail,jdbcType=VARCHAR},
      id_card = #{record.idCard,jdbcType=VARCHAR},
      identity = #{record.identity,jdbcType=INTEGER},
      chi_name = #{record.chiName,jdbcType=VARCHAR},
      eng_name = #{record.engName,jdbcType=VARCHAR},
      telephone = #{record.telephone,jdbcType=VARCHAR},
      user_state = #{record.userState,jdbcType=INTEGER},
      admission_date = #{record.admissionDate,jdbcType=VARCHAR},
      school_id = #{record.schoolId,jdbcType=VARCHAR},
      cloth_size = #{record.clothSize,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.IcpcInformationSystemBackend.model.entity.UserDo" >
    update user
    <set >
      <if test="idCard != null" >
        id_card = #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="identity != null" >
        identity = #{identity,jdbcType=INTEGER},
      </if>
      <if test="chiName != null" >
        chi_name = #{chiName,jdbcType=VARCHAR},
      </if>
      <if test="engName != null" >
        eng_name = #{engName,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="userState != null" >
        user_state = #{userState,jdbcType=INTEGER},
      </if>
      <if test="admissionDate != null" >
        admission_date = #{admissionDate,jdbcType=VARCHAR},
      </if>
      <if test="schoolId != null" >
        school_id = #{schoolId,jdbcType=VARCHAR},
      </if>
      <if test="clothSize != null" >
        cloth_size = #{clothSize,jdbcType=VARCHAR},
      </if>
    </set>
    where user_email = #{userEmail,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.IcpcInformationSystemBackend.model.entity.UserDo" >
    update user
    set id_card = #{idCard,jdbcType=VARCHAR},
      identity = #{identity,jdbcType=INTEGER},
      chi_name = #{chiName,jdbcType=VARCHAR},
      eng_name = #{engName,jdbcType=VARCHAR},
      telephone = #{telephone,jdbcType=VARCHAR},
      user_state = #{userState,jdbcType=INTEGER},
      admission_date = #{admissionDate,jdbcType=VARCHAR},
      school_id = #{schoolId,jdbcType=VARCHAR},
      cloth_size = #{clothSize,jdbcType=VARCHAR}
    where user_email = #{userEmail,jdbcType=VARCHAR}
  </update>
</mapper>